[Unit]
Description=Trigger PJ-Portal check every 5 minutes

[Timer]
# Fire 30s after boot, then every 5 minutes with a small jitter so we don't
# hammer the portal on the exact same wall-clock second on every VM.
OnBootSec=30s
OnUnitActiveSec=1min
RandomizedDelaySec=10s
Unit=pjportal.service
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
